@import '../../../../shared/presentation/styles/variables'

.card
  background: $card-bg
  border-radius: $radius-lg
  padding: $spacing-lg
  margin: $spacing-md auto
  color: $text
  font-size: $font-md
  width: 320px
  min-height: 340px
  display: flex
  flex-direction: column
  align-items: center

  &__image
    width: 180px
    height: 180px
    object-fit: contain
    margin-bottom: $spacing-md
    border-radius: $radius-md
    box-shadow: $shadow-xs

  &__title
    font-size: $font-lg
    font-weight: bold
    color: #353434ff
    margin-bottom: $spacing-sm
    text-align: center

  &__id,
  &__types
    font-size: $font-sm
    color: $text-dark
    margin-bottom: $spacing-xs
    text-align: center