@import '../../../../shared/presentation/styles/variables'
@import '../../../../shared/presentation/styles/buttons'

.search-form
  display: flex
  flex-direction: column
  align-items: center
  gap: $spacing-md
  width: 100%
  max-width: 400px
  margin: 0 auto

  &__row
    width: 100%
    display: flex

  &__input-wrapper
    position: relative
    width: 100%

  &__input
    width: 100%
    padding: $spacing-md 0 $spacing-md $spacing-md
    border: 2.5px solid $primary-dark
    border-radius: 24px
    font-size: 0.85rem
    outline: none
    transition: border-color $transition-fast
    background: #fff

    &:focus
      border-color: $accent

  &__icon-button
    position: absolute
    right: 2px
    top: 50%
    transform: translateY(-50%)
    background: none
    border: none
    padding: 0
    cursor: pointer
    display: flex
    align-items: center

  &__icon
    width: 2remrem
    height: 2rem

  &__button
    @extend .primary-button

  &__error
    color: $error
    font-size: 0.85rem
    margin-top: $spacing-sm