@import '../../../../shared/presentation/styles/variables'

.search-bar
  display: flex
  flex-direction: column
  align-items: center
  gap: $spacing-md
  width: 100%
  max-width: 600px
  margin: 0 auto
  border-radius: $radius-lg

  &__form
    width: 100%
    display: flex
    gap: $spacing-sm

  &__error
    color: $error
    font-size: $font-xs

  &__loading
    color: $primary-dark
    font-size: $font-xs