stages:
  - build
  - lint

yarn-install:
  stage: build
  image: node:18-alpine
  script:
    - yarn install
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 hour

prettier-check:
  stage: lint
  image: node:18-alpine
  needs:
    - job: yarn-install
  script:
    - yarn format:check

eslint-check:
  stage: lint
  image: node:18-alpine
  needs:
    - job: yarn-install
  script:
    - yarn lint

type-check:
  stage: lint
  image: node:18-alpine
  needs:
    - job: yarn-install
  script:
    - yarn type-check
