services:
  app:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "80:5173" 
    command: sh -c "yarn install --check-files && yarn dev --host"
    environment:
      - NODE_ENV=development

volumes:
  node_modules: