@import '../../../../shared/presentation/styles/variables'

.pokemon-card
  background-color: #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  padding: 16px
  display: flex
  justify-content: space-between
  align-items: center
  gap: 16px
  transition: transform 0.2s, box-shadow 0.2s

  &:hover
    transform: translateY(-4px)
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15)

.pokemon-card__content
  display: flex
  align-items: center
  gap: 16px

.pokemon-card__name
  font-size: 1.2rem
  margin: 0
  color: #170f0fff

.pokemon-card__remove
  background: none
  border: none
  padding: 0
  margin-left: auto
  display: flex
  align-items: center
  cursor: pointer

.pokeball-image
  width: 48px
  height: 48px
  object-fit: contain
  background: #fff
  border: none
  border-radius: 50%
  display: block