.app
  &__container
    min-height: 100vh
    background: #f6f8fc
    display: flex
    flex-direction: column
    align-items: center
  &__logo
    display: block
    margin: 0 auto 2rem auto
    width: 200px
    height: auto
    object-fit: contain